:root {
  --border-radius: 0.3em;
  --cv-height: calc(var(--cv-width) * 1.4142); /* A4 paper aspect ratio*/
  /*  Can set % of --cv-left-side with decimals */
  --cv-left-width: calc(var(--cv-width) * 0.6);
  /*  Right side is calculated automatically when --cv-left-side is set */
  --cv-right-width: calc(var(--cv-width) - var(--cv-left-width));
  --cv-width: 41em;
  --primary-bg-color: hsl(0, 0%, 87%);
  --secondary-bg-color: hsl(0, 0%, 90%);
  --secondary-bg-color-1: hsl(0, 0%, 21%);
  --secondary-bg-color-2: hsl(210, 100%, 69%);
  --secondary-bg-color-2-hover: hsl(210, 100%, 72%);
  --secondary-bg-color-3: hsl(200, 100%, 42%);
  --box-shadow: 0.3px 0.3px 5px black;
}

body {
  background-color: var(--primary-bg-color);
}

/* =====
    App
   ===== */

#App {
  align-items: center;
  color: var(--secondary-bg-color-1);
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

/* =======
    Forms
   ======= */

#Forms {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 25em;
  margin: 1.5vh;
  background-color: var(--secondary-bg-color);
}
.form {
  margin: 1.5em auto;
  padding: 0.2em 0.4em;
  border-color: var(--secondary-bg-color-3);
  border-left-style: solid;
  border-radius: var(--border-radius);
  border-right-style: solid;
  border-width: 0.15rem;
}

.formSection {
  margin: 1em;
}
.formTitle {
  margin: 1em 0.2em -0.5em 0.2em;
}

/* Inputs */

input,
textarea {
  border-radius: var(--border-radius);
  display: block;
  margin: 0.3em auto;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--secondary-bg-color-2);
  border-style: solid;
  border-width: 0.05rem;
}
input {
  height: 2em;
  padding: 0em 0.5em;
  font-size: 0.9rem;
  width: 95%;
}

textarea {
  height: 4em;
  resize: vertical;
  padding: 0.5em;
  font-size: 0.9em;
  min-height: 2em;
  width: 95.7%;
}

/* Buttons */
button {
  border-radius: var(--border-radius);
  display: block;
  margin: 0.4em auto;
  width: 99%;
  height: 2em;
  background-color: var(--secondary-bg-color-2);
  color: var(--secondary-bg-color-1);
  font-weight: 600;
  border: none;
}
button:hover {
  background-color: var(--secondary-bg-color-2-hover);
}
button:focus {
  background-color: var(--secondary-bg-color-2);
}

/* ====
    Cv
   ==== */

#Cv {
  align-items: start;
  align-self: start;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-gap: 0em 0.5em;
  grid-template-areas:
    'personalContact personalContact'
    'workEducation scl ';
  grid-template-columns: 3.7fr 2.3fr;
  grid-template-rows: auto 1fr;
  height: var(--cv-height);
  margin-right: 2em;
  position: sticky;
  top: 1.5vh;
  width: var(--cv-width);
  background-color: white;
  margin-bottom: 1.5vh;
  overflow-y: scroll;
}

.cvTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0em;
}

#personalContact {
  display: flex;
  grid-area: personalContact;
  width: 100%;
}

#workEducation {
  display: flex;
  flex-direction: column;
  grid-area: workEducation;
  margin-left: 1em;
}

/* Stands for "skills-certificates-languages" */
#scl {
  display: flex;
  flex-direction: column;
  grid-area: scl;
  margin-right: 1em;
  text-align: right;
}

/* Cards */

span,
p {
  display: block;
}

span {
  font-size: 0.9rem;
}

p {
  font-size: 0.8rem;
}

.desiredRole,
.company,
.school {
  color: var(--secondary-bg-color-3);
}

.personalInfoCard {
  margin: 1em auto 1em 1em;
  max-width: 60%;
}

.description {
  margin-bottom: 0em;
  word-wrap: break-word;
}

.title,
.firstName,
.lastName {
  display: inline;
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 0.2em;
  word-wrap: break-word;
}
.desiredRole {
  font-size: 1.3rem;
  font-weight: 500;
  word-wrap: break-word;
}

.contactCard {
  border-color: var(--secondary-bg-color-3);
  border-left-style: solid;
  border-radius: var(--border-radius);
  border-width: 0.15rem;
  height: max-content;
  margin: 1em 0em 0.5em auto;
  max-width: calc(var(--cv-right-width) * 0.9);
  width: max-content;
  word-wrap: break-word;
}

.phoneNumber,
.email,
.location,
.webSite {
  margin: 0.4em;
  word-wrap: break-word;
}

.workExperiencesCard,
.educationCard {
  border-color: var(--secondary-bg-color-3);
  border-left-style: solid;
  border-radius: var(--border-radius);
  border-right-style: solid;
  border-width: 0.15rem;
  display: grid;
  grid-template-areas:
    'primary primary from'
    'primary primary to'
    'secondary secondary city '
    'extraDetails extraDetails extraDetails';
  margin-bottom: 1.5em;
  padding: 0.5em;
  width: calc(var(--cv-left-width));
}

.position,
.degree {
  font-size: 1.4rem;
  font-weight: 500;
  grid-area: primary;
  word-wrap: break-word;
  width: calc(var(--cv-left-width) * 0.55);
  margin-right: 0em;
}

.company,
.school {
  font-size: 1.2rem;
  grid-area: secondary;
  word-wrap: break-word;
  width: calc(var(--cv-left-width) * 0.6);
}

.workCity,
.educationCity {
  grid-area: city;
}

.to,
.from,
.workCity,
.educationCity {
  color: var(--secondary-bg-color-3);
  font-size: 0.8rem;
  text-align: right;
  width: calc(var(--cv-left-width) * 0.27);
  word-wrap: break-word;
  margin-left: auto;
}

.to {
  grid-area: to;
}
.from {
  grid-area: from;
}

.extraDetails {
  grid-area: extraDetails;
}

.workDuty {
  margin: 1em 0em 0em 0.5em;
  width: calc(var(--cv-left-width) * 1.2);
  word-wrap: break-word;
}

.skill,
.language,
.certificate {
  background-color: var(--secondary-bg-color-2);
  border-radius: var(--border-radius);
  display: inline-block;
  margin: 0.5em 0em 0em 0.3em;
  padding: 0.2em 0.4em;
  word-wrap: break-word;
}

/*==========
  Scroll Bar
  ==========*/

::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-bg-color-2);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg-color-3);
}
