:root {
  --border-radius: 0.3em;
  --cv-height: 60em;
  /*  Can set % of --cv-left-side with decimals */
  --cv-left-side: calc(var(--cv-width) * 0.6);
  /*  Right side is calculated automatically when --cv-left-side is set */
  --cv-right-side: calc(var(--cv-width) - var(--cv-left-side));
  --cv-width: calc(var(--cv-height) / 1.4142); /* A4 paper aspect ratio*/
  --secondary-bg-color-1: #353535;
  --secondary-bg-color-2: #60afff;
  --secondary-bg-color-3: #284b63;
  --secondary-bg-color-4: #cfd11a;
}

/* =====
    App
   ===== */

#App {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: auto auto;
  width: max-content;
}

/* =======
    Forms
   ======= */

#Forms {
  border: 1px solid black;
  border-radius: var(--border-radius);
  width: 25em;
}

.formSection {
  margin: 1em;
}
.formTitle {
  margin: 0.5em 0.2em;
}

/* Inputs */

input,
textarea {
  border-radius: var(--border-radius);
  display: block;
  font-size: 0.9rem;
  margin: 0.3em auto;
  width: 95%;
}
input {
  height: 2em;
}

textarea {
  height: 4em;
  resize: vertical;
}

/* Buttons */
button {
  border-radius: var(--border-radius);
  display: block;
  margin: 0.3em auto;
  width: 95%;
}

/* ====
    Cv
   ==== */

#Cv {
  align-items: start;
  align-self: start;
  border-radius: var(--border-radius);
  border: 1px solid black;
  display: grid;
  grid-template-areas:
    'personalContact personalContact'
    'workEducation scl ';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  height: var(--cv-height);
  position: sticky;
  top: 2vh;
  width: var(--cv-width);
}

#personalContact {
  grid-area: personalContact;
  display: flex;
  width: 100%;
}

#workEducation {
  grid-area: workEducation;
  display: flex;
  flex-direction: column;
}

#scl {
  grid-area: scl;
  display: flex;
  flex-direction: column;
}

/* Cards */

.contactCard {
  border-color: var(--secondary-bg-color-2);
  border-left-style: solid;
  border-width: 0.15rem;
  height: max-content;
  margin: 0.5em 0.5em 0.5em auto;
  max-width: var(--cv-right-side);
  width: max-content;
  word-wrap: break-word;
}

span {
  display: block;
  margin: 0.3em;
}
